<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Buy | <%=title%></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">    
    </head>
<body>
    <header>
        <div class="logo-container">
        <div class="logo">Smart Buy</div>
        </div>
        <nav>
        <ul class="nav-links">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a  class="nav-link" href="/Aboutus">About Us</a></li>
        <li><a class="login1" href="/Login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
        
        </a></li>
        </ul>
        </nav>
    </div>
    </header>
    </body>
    