<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Buy | <%=title%></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/Aboutus.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">    
    </head>
<body>
    <header>
        <div class="logo-container">
        <div class="logo">Smart Buy</div>
        </div>
        <nav>
        <ul class="nav-links">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a  class="nav-link" href="/Aboutus">About Us</a></li>
        </ul>
        </nav>
    </div>
    </header>
    <div class="about-section">
        <div class="inner-container">
          <h1> ABOUT US</h1>
          <p class="text"> 
            Reduced Gap between the buyer and seller there by making easy the whole process through web app ,thus providing comfortable purchasing and selling of products.
            The E-commerce web app consists of different products of various category where a user can either buy or sell products through this platform.
            <p class="text1">
              Our mission is to be Earth’s most customer-centric company. Amazon is guided by four principles: customer obsession rather than competitor focus, 
              passion for invention, commitment to operational excellence, and long-term thinking. Customer reviews, 1-Click shopping, personalized recommendations,EASY way to sell or buy products etc...</p>
          </p>
          
          <div class="skills">
            <span>SELL PRODUCTS</span>
            <span>BUY PRODUCTS</span>
            <span>ALL IN ONE APPLICATION</span>
          </div>
        </div>
      </div>

   </body> 
    