<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Buy | <%=title%></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">    
    </head>
<body>
    <header>
        <div class="logo-container">
        <div class="logo">Smart Buy</div>
        </div>
        <nav>
        <ul class="nav-links">
        <li><a  class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link"  href="#">All Products <i class="fas fa-caret-down"></i></a>
        <ul class="sub">
            <li><a href="">Fashion<i class="fas fa-caret-down"></i></a>
            <ul class="sub">
                <li><a href="#">drop 1</a></li>
                <li><a href="#">drop 2</a></li>
                <li><a href="#">drop 3</a></li>
            </ul>
            </li>
            <li><a href="#">Electronics<i class="fas fa-caret-down"></i></a>
                <ul class="sub">
                    <li><a href="#">drop 1</a></li>
                    <li><a href="#">drop 2</a></li>
                    <li><a href="#">drop 3</a></li>
                </ul>
            </li>
            <li><a href="#">Others<i class="fas fa-caret-down"></i></a>
                <ul class="sub">
                    <li><a href="#">drop 1</a></li>
                    <li><a href="#">drop 2</a></li>
                    <li><a href="#">drop 3</a></li>
                </ul>
            </li>
        </ul>
        </li>
        <li><a class="nav-link" href="/Sell">Sell</a></li>
        <li><a class="nav-link" href="/Aboutus">About Us</a></li>
        <li><a class="login1" href="/profile">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        My Profile
        </a></li>
        </ul>
        </nav>
        <div class="cart">
        <a href="/cart"><img src="/Homeimages/whiteshopcart.png"></a>
    </div>
    </header>
    
    <script>
        let url = `http://localhost:4000`;
        fetch("http://localhost:4000/AllMens")
        .then((res) => {

return res.json();
}).then((data)=>{
    console.log(data);
})
    </script>
</body>
</html>

