<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Buy | <%=title%></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/ship.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">    
    </head>
<body>
    <header>
        <div class="logo-container">
        <div class="logo">Smart Buy</div>
        </div>
        <nav>
        <ul class="nav-links">
        <li><a class="nav-link" href="/Loghome">Home</a></li>
        <li><a class="nav-link" href="/Aboutus">About Us</a></li>
        </ul>
        </nav>
    </div>
    </header>
    <div id="ship" class="shipwrapper">
       
        <div id="user" class="useraddress"></div>
        <div class="shipitems">
        <div id="shipping" class="ship"></div>
        
    <div class="shiper"id="shipitem"></div>
</div>
    </div>
    </div>
    <div class="totalprice"><h2>Total Amount :</h2><h2 id="total" class="total">totalprice</h2></div>
<script>
    let shipping = document.getElementById("shipping")
    let userdetails = document.getElementById("user")
    let shipitem = document.getElementById("shipitem")
    let total = document.getElementById("total");
    let url = `http://localhost:4000`;
fetch("http://localhost:4000/shipping")
.then((res) => {

return res.json();
}).then((res)=>{
    console.log(res);
    let user=res.user;
    let cart=res.cart;
    let ship=res.ship;
console.log(user);
console.log(cart);
console.log(ship);
let div=document.createElement("div");

    let city=user.City;
    console.log(city);
    let country=user.Country;
    let firstname=user.Firstname;
    let lastname=user.Lastname;
    let phone=user.Phone_no;
    let zip=user.Zip_code;
    let address=user.address;
    let aptno=user.apt_no;
    let street=user.street_address;

    userdetails.innerHTML=`
    <h3>Delivery address</h3>
            <div class="name">
            <h3>${firstname}</h3>
        <h3>${lastname}</h3>
        </div>
        <div class="center">
        <h3>${aptno}</h3>
        <h3>${street}</h3>
        <h3>${address}</h3>
    </div>
        <div class="midcontent">
        <h3>${city}</h3>
        <h3>${zip}</h3>
    </div>
        <h3>${country}</h3>
        <h3>${phone}</h3>
    
    
    `
 

    
for(let i=0;i<ship.length;i++){
    let arrive=ship[i].arrivaldate;
    let shipdate=ship[i].shipdate;
    let shipid=ship[i].shipid;
let div1=document.createElement("div");
  
    div1.innerHTML=`
    <h3>shipmentid: ${shipid}</h3>
        <div class="last">
        <h5>shipdate:${shipdate}</h5>
        <h5>arrivaldate:${arrive}</h5>
        `
        console.log(shipitem);
shipitem.appendChild(div1);}



    for(let i=0;i<cart.length;i++){
    let price =cart[i].Price;
    let productname =cart[i].Productname;
    let qty =cart[i].Qty_ordered;
    let title =cart[i].Title;
    let div2=document.createElement("div");
    let updatedprice = qty * price;
       
   div2.innerHTML=`
   
        <div class="center">
        <h3>Productname: ${productname}</h3>
        <h3>Title: ${title}</h3>
        <h3>Qty: ${qty}</h3>
        </div>
        <div class="mid">
        <h3>Rs : ${updatedprice}</h3>
        </div>
    `

    console.log(shipping);
shipping.appendChild(div2)
    } 

})

fetch("http://localhost:4000/carttotal")
.then((res) => {

return res.json();
}).then((res)=>{
  console.log(res);
  let totalprice=res.totalprice;
console.log(totalprice);
   total.innerHTML=`<i class="fas fa-rupee-sign"><span class="price"> ${totalprice}</span>`;
   console.log(total);
})
</script>
</body>

